<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>
    <link rel="stylesheet" th:href="@{/css/brdView.css}" type="text/css"/>
</head>
<body>
    <table>
        <tr><td><h2>게시글</h2></td></tr>
        <tr><td>Title</td></tr>
        <tr><td class="title" th:text="${atclInfo.title}"></td></tr>
        <tr><td>Content</td></tr>
        <tr><td class="content" th:text="${atclInfo.content}"></td></tr>
        <tr>
            <td>
                <button type="button" th:onclick="|location.href='@{/board/brdWrite(mode='modify', brdId=${atclInfo.brdId})}'|">수정</button>
                <button class="back" type="button" onclick="location.href='brdList'" style="float:right">뒤로가기</button>
            </td>
        </tr>
    </table>
</body>
</html>